<div class="container">

  <div class="links">
    <p>
      <a href="https://github.com/engineer-br0/sql-query-analyzer-frontend" target="_blank">
        Frontend GitHub
      </a>
    </p>

    <p>
      <a href="https://github.com/engineer-br0/sql-query-analyzer" target="_blank">
        Backend GitHub
      </a>
    </p>
  </div>

  <h1>SQL Query Analyzer</h1>

  <textarea
    [(ngModel)]="query"
    placeholder="Enter SQL query"
    class="query-box">
  </textarea>

  <button *ngIf="!loading" (click)="analyze()" class="analyze-btn">
    Analyze Query
  </button>

  <p class="loading" *ngIf="loading">
    Loading... please wait. Waking up server...
    This may take up to a minute because the backend is hosted on a free instance.
  </p>

  <div *ngIf="result" class="result-container">

    <h2>Analysis Result</h2>

    <pre class="result-box">{{ result | json }}</pre>

  </div>

</div>